{% extends "base.html" %}
{% block content   %}
<div ng-app="book_house" ng-controller="book_houseCtrl" ng-init="init_page()">
  <div>
    <span>welcome,</span><span style="color:orange;font-size:20px;" ng-bind="user_name"></span> |    <button type="button" ng-click="sign_out()">log out</button>
  </div>
  <br>
  <div>
    <table>
      <tr>
        <td>图书id</td>
        <td>书名</td>
        <td>价格</td>
        <td>简介</td>
        <td>拥有者</td>
        <td>操作</td>
      </tr>
      <tr ng-repeat="book in books">
        <td ng-bind="book['book_id']"></td>
        <td ng-bind="book['book_name']"></td>
        <td ng-bind="book['book_price']"></td>
        <td ng-bind="book['book_intro']"></td>
        <td ng-bind="book['book_owner']"></td>
        <td>
          <button type="button" ng-click="book_modify(book['book_id'])">修改</button>
          <button type="button" ng-click="book_delete(book['book_id'])">删除</button>
        </td>
      </tr>
    </table>
  </div>
  <div>
      <button type="button" ng-click="">新增书目</button>

  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='src/assets/js/book_house.js') }}">
</script>

{% endblock %}
